<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>YIPAK</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template html">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="/Templates/default/cn/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="/Templates/default/cn/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Templates/default/cn/css/yipak.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      {lw:include file="public/header-index.html"}
      <!-- Page Contents-->
      <main class="page-content">
        <section class="section-50">
          <div class="shell">
            <div>
              <h3 style="color: #4e5052">YIPAK, Advancing the medical sterilization of Healthcare</h3>
            </div>
            <div class="offset-top-10 ext-md-center">
              <div class="range range-md-center grid-group-md">
                <div class="cell-md-6">
                  <p class="text-dark">We are China manufacturer of Medical Hospital CSSD Sterililization Products ,but with advanced quality & Supplying products of Global Standards !</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Our Works -->
        <section class="smooth section-bottom-50">
          <div class="shell-wide">
            <div>
              <div class="range grid-group-md">
                {lw:article type="commend" mid="2" max="4"}
                <div class="cell-xs-12 cell-sm-6 cell-md-4 cell-lg-3"><a class="thumbnail-simple" target="_blank" href="/{field.linkurl}">
                            <div class="thumbnail-wrap"><img width="420" height="316" src="{field.imgurl}"></div>
                            <div class="offset-top-14 offset-xl-top-20">
                              <span class="caption">{field.title}</span>
                            </div>
                            <div class="offset-xl-top-14 veil reveal-md-block">
                              <hr class="divider divider-xs bg-mantis">
                            </div></a>
                </div>
                {/lw:article}
              </div>
            </div>
          </div>
        </section>
        <section class="section-34" style="background: #e3e7ea; color: #4e5052;">
          <div class="shell">
            <h3>More About YIPAK</h3>
            <div class="offset-top-10 ext-md-center">
              <div class="range range-md-center grid-group-md">
                <div class="cell-md-12">
                  <p class="text-dark">Located in Anqing ( Anqing Development Zone Production Center , Yangtze River Production Center is 1 Mile less than China Anqing Yangtze River  ,Anhui, China), Anqing Yipak Packaging Material Co.,Ltd / Anhui YIPAK Medical Packaging Co.,Ltd is a professional manufacturer of Sterilization packaging ,including Sterilization pouches ,Seal seal pouches for dental use ,sterilization rolls, Steriliztion REELS,reels ,Sterilization indicator tape , Sterilization Card , Medica crepe paper , medical paper , medical film, Medical wrapping paper . </p>
                </div>
              </div>
            </div>
            <div class="range range-xs-bottom range-sm-center" id="about-index">
            {lw:article type="commend" mid="1" max="3"}
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
              <!-- Planning Box type 4-->
              <div class="box-planning box-planning-type-4">
                {if key="{i}" val="1" mod="equals"}
                <div class="box-planning-header bg-mantis context-dark">
                  {/if}
                  {if key="{i}" val="2" mod="equals"}
                <div class="box-planning-header bg-malibu context-dark">
                  {/if}
                  {if key="{i}" val="3" mod="equals"}
                <div class="box-planning-header bg-saffron context-dark">
                  {/if}
                  <div class="box-planning-label">
                    <a href=""><img src="{field.imgurl}" width="350"></a>
                  </div>
                  <h4><a href="/{field.linkurl}">{field.title}</a></h4>
                </div>
                <div class="box-planning-body">
                     {field.summary}
                  </div>
              </div>
            </div>
            {/lw:article}
          </div>
          </div>
        </section>
        <!-- Demo Images Included for Free-->
                <div class="parallax-container context-dark" data-parallax-img="/Templates/default/cn/images/features/home-intro-15-1920x592.jpg">
                  <div class="parallax-content bg-overlay-gray-darkest section-98 section-lg-110 section-xl-254">
                    <div class="shell">
                      <h1><span class="big">Loved by</span><span class="big text-mantis"> 200+</span><span class="big"> Happy Customers</span></h1>
                      <p>Your Success, Our Glory : <br>Our aim is to help customers realize their goals. We are making great efforts to achieve this win-win situation and sincerely welcome you to join us.</p>
                    </div>
                  </div>
                </div>
                <section class="offset-top-60 section-bottom-66">
            <div class="shell">
              <div class="range range-xs-left offset-top-50">                
                <div class="cell-xs-10 cell-sm-5 cell-lg-4">
                  <div class="cell-sm-6 offset-top-41 offset-sm-top-0 cell-lg-12 offset-lg-top-41 text-left">
                    <!-- Twitter Feed-->
                    <h5 class="text-uppercase text-spacing-60 text-bold">Trade Show/Meeting Us?</h5>
                    <div class="text-subline"></div>
                    <div class="offset-top-20">
                        {lw:article type="new" cid="7" max="3"}
                        <div class="twitter-sm offset-top-50">
                          <div class="twitter-name text-bold text-info"><a href="/{field.linkurl}" target="_blank" title="templatemonster on Twitter">{field.title}</a></div>
                          <div class="twitter-text text-dark">{lw:attr.longtitle}</div>
                          <div class="twitter-text">{field.summary}</div>                            
                        </div>
                        {/lw:article}
                    </div>
                  </div>
                </div>
                <div class="cell-xs-10 cell-sm-5 cell-lg-4">
                  <div class="cell-sm-6 offset-top-41 offset-sm-top-0 cell-lg-12 offset-lg-top-41 text-left">
                    <!-- Twitter Feed-->
                    <h5 class="text-uppercase text-spacing-60 text-bold">Company News</h5>
                    <div class="text-subline"></div>
                    <div class="offset-top-20">
                        {lw:article type="new" cid="23" max="3"}
                          <div class="twitter-sm offset-top-50">
                            <div class="twitter-name text-bold text-info"><a href="/{field.linkurl}" target="_blank" title="templatemonster on Twitter">{field.title}</a></div>
                            <div class="twitter-text text-dark">{field.writertime format="mm-dd,yyyy"}</div>
                            <div class="twitter-text">{field.summary}</div>                            
                          </div>
                          {/lw:article}
                    </div>
                  </div>
                </div>
                <div class="cell-xs-10 cell-sm-5 cell-lg-4">
                  <div class="cell-sm-6 offset-top-41 offset-sm-top-0 cell-lg-12 offset-lg-top-41 text-left">
                    <!-- Twitter Feed-->
                    <h5 class="text-uppercase text-spacing-60 text-bold">Industry News</h5>
                    <div class="text-subline"></div>
                    <div class="offset-top-20">
                        {lw:article type="new" cid="24" max="3"}
                          <div class="twitter-sm offset-top-50">
                            <div class="twitter-text text-deluge">{field.title}</div>
                            <div class="twitter-name text-bold text-info"><a href="/{field.linkurl}" target="_blank" title="templatemonster on Twitter">Learn More</a></div>
                          </div>
                           {/lw:article}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </main>
      {lw:include file="public/footer.html"}
    </div>
    <!-- JavaScript-->
    <script src="/Templates/default/cn/js/core.min.js"></script>
    <script src="/Templates/default/cn/js/script.js"></script>
	  </body>
</html>