<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>UpdatePassword</title>
<link href="/areas/master/themes/css/baselist.css" rel="stylesheet" type="text/css" />
<link href="/areas/master/themes/css/all.css" rel="stylesheet" type="text/css" />
<link href="/areas/master/themes/css/formdiv.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/areas/master/scripts/jquery.js"></script>
<script type="text/javascript" src="/areas/master/scripts/control.js"></script>
<script type="text/javascript" src="/areas/master/scripts/form.js"></script>
<script type="text/javascript" language="JavaScript">
	var iframename = "";
	var digheight="310";
	var isfunction="1";

	var resizewindow= null;

	window.onresize = function(){
		var h = $(window).height();
		if(resizewindow!=h){
			sizewindow();
			resizewindow=h;
		}	
	}

	function sizewindow(){
		var h = $(window).height();
		if(document.getElementById("mainbodybottonauto")){
			$('.managebottonadd').css({height:h-40});
		}
	}
	var seconds = 5;
	var defaultUrl = "";
	onload = function() {
		if (defaultUrl == 'javascript:history.go(-1)' && window.history.length == 0){
		    document.getElementById('redirectionMsg').innerHTML = '';
		    return;
		}
		window.setInterval(redirection, 1000);
	}

	function redirection(){
		if (seconds <= 0){
			window.clearInterval();
			return;
		}
		seconds --;
		document.getElementById('spanSeconds').innerHTML = seconds;
		if (seconds == 0){
			window.clearInterval();
			execute();
		}
	}

	function execute() {
	    parent.locationout();
	}

	$(document).ready(function(){
		var h = '';
		h=digheight>0 ? digheight : h;
		$('.managebottonadd').css({height:h-40});
	});
</script>
</head>

<body>
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">当前操作提示：</span><span class="padding-left5 colorgorningage">请按以下操作提示进行！</span></span>
		</div>
		<div class="manageeditdiv_fff">
			<div class="maneditcontent">
				<table class="formtablewin">
					<tr>
						<td id="center" style="padding:5px;"><img alt="" src="/areas/master/themes/images/Infoicon50.gif" /></td>
					</tr>
					<tr class="trstyle2">
						<td id="center" class="strong colorgorningage">恭喜：您的密码已修改成功！</td>
					</tr>
					<tr class="trstyle2">
						<td id="center" class="strong colorgorning2">请您选择以下操作方式，如未选择系统将在<span id="spanSeconds">5</span>秒钟自动执行默认操作</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr>
				<td id="center"><input type="submit" name="Submit" value="确认此操作" class="buttonface" onclick="javascript:execute();" title="确认此操作"/></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>