<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <link href="/areas/master/themes/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/areas/master/scripts/jquery.js"></script>
    <script type="text/javascript" src="/public/tinyMCE/jquery.tinymce.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/initedit.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/form.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/control.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/tabs.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/pagebotton.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/colorpicker.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/chinesepy.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/toastr.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>