<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>FileManage</title>
    <link href="/areas/master/Themes/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/areas/master/scripts/jquery.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/sweetalert.min.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/control.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/form.js"></script>
</head>
<body style="background-color: #FFFFFF">
    @RenderBody()
</body>
</html>