<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <link href="/areas/master/themes/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/areas/master/scripts/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/sweetalert.min.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/control.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/dialog.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/form.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/clickmenu.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/pagebotton.js"></script>
    <script type="text/javascript" src="/areas/master/scripts/icheck.min.js?v=1.0.2"></script>
    <script type="text/javascript" src="/areas/master/scripts/toastr.js"></script>
    <script type="text/javascript">
        function search(loadurl) {
            if ($.browser.version == 6) var h = document.body.clientHeight; else var h = $(window).height();
            var formlist = document.getElementById("selectform"), loadurl = loadurl, maxperpage = formlist.elements[1].value, maxhit = formlist.elements[2].value, nowpage = formlist.elements[3].value, loadname = formlist.elements[6].value, pagetextname = formlist.elements[7].value, pagebottonname = formlist.elements[8].value;
            formlist.elements[0].value = loadurl, pageDimensions(h, maxperpage, maxhit, nowpage, loadurl, loadname, pagetextname, pagebottonname, "selectform");
        }

        function sizewindow() {
            var h = $(window).height();
            document.getElementById("mainbody") && $("#mainbody").css({
                "height": h - 99
            }), document.getElementById("mainbodybottonauto") && $(".managebottonadd").css({
                "height": h - 120
            });
            if (document.getElementById("selectform")) {
                var formlist = document.getElementById("selectform"), loadurl = formlist.elements[0].value, maxperpage = formlist.elements[1].value, maxhit = formlist.elements[2].value, nowpage = formlist.elements[3].value, loadname = formlist.elements[6].value, pagetextname = formlist.elements[7].value, pagebottonname = formlist.elements[8].value;
                pageDimensions(h, maxperpage, maxhit, nowpage, loadurl, loadname, pagetextname, pagebottonname, "selectform");
            }
        }

        $(document).ready(function () {
            $.fn.clickMenu.setDefaults({
                "arrowSrc": "templates/images/arrow_right.gif"
            }), $("#listbottonul").clickMenu();
            if ($.browser.msie) {
                var h = "788";
                $("#mainbody").css({
                    "height": h - 99
                });
                var formlist = document.getElementById("selectform"), loadurl = formlist.elements[0].value, maxperpage = formlist.elements[1].value, maxhit = formlist.elements[2].value, nowpage = formlist.elements[3].value, loadname = formlist.elements[6].value, pagetextname = formlist.elements[7].value, pagebottonname = formlist.elements[8].value;
                pageDimensions(h, maxperpage, maxhit, nowpage, loadurl, loadname, pagetextname, pagebottonname, "selectform");
            }
        });

        var resizewindow = null;

        window.onresize = function () {
            var h = $(window).height();
            resizewindow != h && (sizewindow(), resizewindow = h);
        }, document.oncontextmenu = new Function("event.returnValue=false;"), document.onselectstart = new Function("event.returnValue=false;");
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>