@{
    Layout = null;
}
<div class="footer_page">
	<div class="footer_talbe">
					<dl>
				<dt><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=1" title="关于我们">关于我们</a></dt>
												<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=8" title="公司介绍">公司介绍</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=9" title="发展历程">发展历程</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=10" title="服务领域">服务领域</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=13" title="开发团队">开发团队</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=14" title="联系信息">联系信息</a></dd>
											</dl>
						<dl>
				<dt><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=2" title="新闻动态">新闻动态</a></dt>
												<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=11" title="公司新闻">公司新闻</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=12" title="媒体报导">媒体报导</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=15" title="行业动态">行业动态</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=16" title="技术报导">技术报导</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=28" title="视频新闻">视频新闻</a></dd>
											</dl>
						<dl>
				<dt><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=3" title="产品展示">产品展示</a></dt>
												<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=17" title="产品说明">产品说明</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=18" title="软件产品">软件产品</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=19" title="解决方案">解决方案</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=20" title="硬件产品">硬件产品</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=29" title="ESPCMS建站">ESPCMS建站</a></dd>
											</dl>
						<dl>
				<dt><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=4" title="人才招聘">人才招聘</a></dt>
												<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=21" title="市场人才">市场人才</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=22" title="管理人才">管理人才</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=23" title="技术人才">技术人才</a></dd>
											</dl>
						<dl>
				<dt><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=5" title="在线下载">在线下载</a></dt>
												<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=24" title="软件下载">软件下载</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=25" title="资料下载">资料下载</a></dd>
											</dl>
						<dl>
				<dt><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=6" title="招商合作">招商合作</a></dt>
												<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=26" title="招商说明">招商说明</a></dd>
								<dd><a href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=27" title="招商动态">招商动态</a></dd>
											</dl>
			
		<dl class="content">
			<dt>尔创网联（EARCLINK）技术创业团队</dt>
			<dd>地址：湖北省洪湖市文泉大道经济开发区锦绣东城5号楼2103</dd>
			<dd>合作邮箱：sv@earclink.com</dd>
			<dd>建站咨询QQ：6326420  软件咨询QQ：188295976</dd>
			<dd>QQ交流群：4765284</dd>
			<dt class="subscription">
				<form name="inviteform" method="post" action="http://localhost:90/espcms/index.php?ac=public&at=invite">
				<input type="hidden" name="mlvid" value="1">
				<input type="hidden" name="lng" value="cn">
				<table>
					<tr>
						<td><input id="email" name="email" type="text" class="infoInput" size="18"/></td>
						<td><input name="submitsearch" type="submit" class="button blue" value="提交邮件订阅" /></td>
					</tr>
				</table>
				</form>
			</dt>
		</dl>
	</div>
	<div class="footer_talbe_str">
		<div class="sitetype">
			<div class="foot_l">
				<p>
																			<a title="关于我们" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=1">关于我们</a>
													<span>|</span>							<a title="产品展示" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=3">产品展示</a>
													<span>|</span>							<a title="人才招聘" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=4">人才招聘</a>
													<span>|</span>							<a title="在线下载" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=5">在线下载</a>
													<span>|</span>							<a title="招商合作" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=6">招商合作</a>
													<span>|</span>							<a title="公司介绍" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=8">公司介绍</a>
													<span>|</span>							<a title="公司新闻" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=11">公司新闻</a>
													<span>|</span>							<a title="联系信息" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=14">联系信息</a>
						
					<br/>
					易思ESPCMS企业建站系统 [EarcLink] 版权所有 2002-2014 All Rights Reserved <a class="infolink02" target="_blank" href="http://www.ecisp.cn">Powered by ESPCMS V6</a><br/>
					声明：本站内容只是做为ESPCMS演示功能使用，不对其内容真假负责！<br/>
					ESPCMS著作权信息：中华人民共和国国家版权局 ESPCMS计算机软件著作权登记证书：2011SR051710
				</p>
			</div>
			<div class="foot_r">
				<span>分享 |</span>
				<!-- Baidu Button BEGIN -->
				<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
					<a class="bds_tsina" title="分享到新浪微博" href="#"></a>
					<a class="bds_tqq" title="分享到腾讯微博" href="#"></a>
					<a class="bds_douban" title="分享到豆瓣网" href="#"></a>
					<a class="bds_renren" title="分享到人人网" href="#"></a>
				</div>
				<!-- Baidu Button END -->
			</div>
		</div>
	</div>
</div>