@{
    Layout = null;
}
    <div class="espcms_head">
	<div class="logo"><img src="http://localhost:90/espcms/templates/specialty/images/logo.jpg" alt="logo"/></div>
	<div class="head_botton">
		<ul class="unstyled">
						<li><a href="http://localhost:90/espcms/index.php">简体中文版</a></li>
						<li><a href="http://localhost:90/espcms/html/big5/index.php">繁体中文版</a></li>
						<li><a href="http://localhost:90/espcms/html/en/index.php">English</a></li>
			
			<li><a href="http://localhost:90/espcms/wap/">手机网站</a></li>
			<li><a href="http://localhost:90/espcms/index.php?ac=member&at=login">会员中心</a></li>
			<li><a href="http://localhost:90/espcms/index.php?ac=order&at=list">购物车</a></li>
			<li><a href="http://localhost:90/espcms/index.php?ac=enquiry&at=list">询盘清单</a></li>
		</ul>
	</div>
	<form name="infosearch" method="post" action="http://localhost:90/espcms/index.php?ac=search&at=list">
	<input type="hidden" name="lng" value="cn">
	<input type="hidden" name="mid" value="0">
	<div class="head_search">
		<ul class="unstyled">
			<li id="search_left"></li>
			<li id="search_input"><input id="keyword" name="keyword" type="text" class="search_input" size="20" value="请输入关键词" onfocus="if (this.value=='请输入关键词'){this.value=''}" onblur="if(this.value==''){this.value='请输入关键词'}"/></li>
			<li id="search_botton"><input type="image"  name="botton" src="http://localhost:90/espcms/templates/specialty/images/search_botton_2.jpg" class="search_botton" value="开始搜索"/></li>
		</ul>
	</div>
	</form>
</div>
<div class="espcms_botton">
	<ul class="menubotton unstyled" id="clickmenubotton">
				<li class="hover"><span><a class="menu" title="首页" href="http://localhost:90/espcms/index.php">首页</a></span>
					</li>
				<li ><span><a class="menu" title="关于我们" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=1">关于我们</a></span>
						<ul class="subnav" style="display: none; ">
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=8" title="公司介绍">公司介绍</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=9" title="发展历程">发展历程</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=10" title="服务领域">服务领域</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=13" title="开发团队">开发团队</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=14" title="联系信息">联系信息</a></li>
							</ul>
					</li>
				<li ><span><a class="menu" title="新闻动态" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=2">新闻动态</a></span>
						<ul class="subnav" style="display: none; ">
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=11" title="公司新闻">公司新闻</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=12" title="媒体报导">媒体报导</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=15" title="行业动态">行业动态</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=16" title="技术报导">技术报导</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=28" title="视频新闻">视频新闻</a></li>
							</ul>
					</li>
				<li ><span><a class="menu" title="产品展示" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=3">产品展示</a></span>
						<ul class="subnav" style="display: none; ">
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=17" title="产品说明">产品说明</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=18" title="软件产品">软件产品</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=19" title="解决方案">解决方案</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=20" title="硬件产品">硬件产品</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=29" title="ESPCMS建站">ESPCMS建站</a></li>
							</ul>
					</li>
				<li ><span><a class="menu" title="人才招聘" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=4">人才招聘</a></span>
						<ul class="subnav" style="display: none; ">
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=21" title="市场人才">市场人才</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=22" title="管理人才">管理人才</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=23" title="技术人才">技术人才</a></li>
							</ul>
					</li>
				<li ><span><a class="menu" title="在线下载" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=5">在线下载</a></span>
						<ul class="subnav" style="display: none; ">
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=24" title="软件下载">软件下载</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=25" title="资料下载">资料下载</a></li>
							</ul>
					</li>
				<li ><span><a class="menu" title="招商合作" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=6">招商合作</a></span>
						<ul class="subnav" style="display: none; ">
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=26" title="招商说明">招商说明</a></li>
								<li><a class="novlink" href="http://localhost:90/espcms/index.php?ac=article&at=list&tid=27" title="招商动态">招商动态</a></li>
							</ul>
					</li>
				<li ><span><a class="menu" title="信息反馈" href="http://localhost:90/espcms/index.php?ac=form&at=list&fgid=1">信息反馈</a></span>
					</li>
				<li ><span><a class="menu" title="会员中心" href="http://localhost:90/espcms/index.php?ac=member&at=login">会员中心</a></span>
					</li>
				<li ><span><a class="menu" title="购物车" href="http://localhost:90/espcms/index.php?ac=order&at=list">购物车</a></span>
					</li>
				<li ><span><a class="menu" title="在线询价" href="http://localhost:90/espcms/index.php?ac=enquiry&at=list">在线询价</a></span>
					</li>
		
	</ul>
</div>  